/* Général */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1E1E2F;
    color: #FFF;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #282C34;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header nav a {
    color: #61DAFB;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration: underline;
}

/* Bouton Retour aux Activités */
.update-button {
    text-align: center;
    margin: 20px 0;
}

a.button {
    display: inline-block;
    background: #61DAFB;
    color: #1E1E2F;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px auto;
    width: 200px;
    text-align: center;
}

a.button:hover {
    background: #529EC4;
}

/* Conteneur principal */
.content {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start; /* Aligne les éléments en haut */
}

/* Graphiques */
.graph-container {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes */
    gap: 20px; /* Espacement entre les graphiques */
}

.graph-container iframe {
    width: 80%;
    height: 500px; /* Hauteur augmentée */
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Liste des activités */
.activity-list {
    flex: 1;
    background-color: #2C313C;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    max-height: 800px;
    overflow-y: auto;
    min-width: 300px; /* Largeur minimale */
}

.activity-list h2 {
    color: #61DAFB;
    margin-bottom: 15px;
}

.activity-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.activity-list li {
    background-color: #3A3F47;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    color: #BBB;
    transition: background-color 0.2s ease-in-out;
}

.activity-list li:hover {
    background-color: #505763;
}

.activity-list li strong {
    color: #FFF;
    font-weight: bold;
}

.activity-list li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
