<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Health Data</title>
</head>
<body>
    <h1>Health Data for {{ latest_data['calendarDate'] }}</h1>
    <p>Total Calories: {{ total_calories }} kcal</p>
    <p>Active Calories: {{ active_calories }} kcal</p>
    <p>BMR Calories: {{ bmr_calories }} kcal</p>
    <p>Total Steps: {{ total_steps }} steps</p>
    <p>Total Distance: {{ total_distance }} meters</p>
    <p>Resting Heart Rate: {{ resting_hr }} bpm</p>
    <p>Average Stress Level: {{ avg_stress_level }}</p>
    <p>Sleeping Seconds: {{ sleeping_seconds }}</p>

    <h2>Graphs</h2>
    <div class="graph-container">
        <img src="/static/graphs/calories_graph.png" alt="Calories Graph">
        <img src="/static/graphs/steps_graph.png" alt="Steps Graph">
        <img src="/static/graphs/distance_graph.png" alt="Distance Graph">
        <img src="/static/graphs/resting_hr_graph.png" alt="Resting HR Graph">
        <img src="/static/graphs/sleep_graph.png" alt="Sleep Graph">
        <img src="/static/graphs/stress_graph.png" alt="Stress Graph">
        <img src="/static/graphs/max_hr_graph.png" alt="Max HR Graph">
        <img src="/static/graphs/active_calories_graph.png" alt="Active Calories Graph">
    </div>
    <br>
    <a href="/activities">Activities</a>
</body>
</html>
